<div nz-row>
  <img src="../../../../assets/images/Group 2191.png" alt="" />
</div>

<div class="normal-table-wrap">
  <div nz-row style="padding: 20px">
    <div nz-col nzSpan="24">
      <h2 nz-typography>UDPN Office</h2>
    </div>
    <nz-divider></nz-divider>
    <nz-space nzDirection="vertical">
      <div *nzSpaceItem>
        <h5 nz-typography>Address</h5>
        <h5 nz-typography nzType="secondary">
          3th Floor, Building 10, Yard 18, Ziyue Road, Chaoyang District, Udpn
        </h5>
      </div>
      <div *nzSpaceItem class="m-t-20 m-b-20">
        <h5 nz-typography>Telephone</h5>
        <h5 nz-typography nzType="secondary">+86 010-57503248</h5>
      </div>
      <div *nzSpaceItem>
        <h5 nz-typography>support@udpn.com</h5>
        <h5 nz-typography nzType="secondary">support@udpn.com</h5>
      </div>
    </nz-space>
  </div>
</div>
