<div>
  <div class="code">
    <nz-spin *ngIf="load" nzSimple></nz-spin>
    <div *ngIf="!load" [innerHTML]="codes"></div>
  </div>
  <!-- <div class="code" *ngIf="singStatusz">
    <nz-spin *ngIf="singStatus" nzSimple></nz-spin>
    <div *ngIf="!singStatus" [innerHTML]="codesz"></div>
  </div> -->
  <div class="code" *ngIf="singSec">
    <nz-spin *ngIf="singSecStatus" nzSimple></nz-spin>
    <div *ngIf="!singSecStatus" class="font-bold">{{singVal}}</div>
  </div>
  <form nz-form [formGroup]="validateForm"  nzLayout="horizontal">
    <nz-form-item>
      <nz-form-label nzSpan="4" class="text-left" nzRequired>Private Key</nz-form-label>
      <nz-form-control [nzErrorTip]="keyErrorTpl">
        <nz-input-group [nzSuffix]="eye">
          <input formControlName="key" nz-input [type]="keyType === false ? 'password' : ''" placeholder="" />
          <ng-template #keyErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input your Private key!</ng-container>
            <ng-container *ngIf="control.hasError('regular')">Please enter a 64 bit hexadecimal secret key and the letters only contain A(a)-F(f)!</ng-container>
          </ng-template>
          <ng-template #eye>
            <button nz-button class="border-0">
              <i nz-icon nzType="eye" nzTheme="outline" (click)="plaintext()"></i>
            </button>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="this.info.allowMaxChannelFee === 1"> 
      <nz-form-label nzSpan="4" class="text-left">Max Channel Fee</nz-form-label>
      <nz-form-control [nzErrorTip]="maxFeeErrorTpl">
        <nz-input-group [nzSuffix]="eyes">
          <input formControlName="maxChannelFee" nz-input placeholder="" />
          <ng-template #maxFeeErrorTpl let-control>
            <ng-container *ngIf="control.hasError('regular')">{{'The max precision of maxChannelFee is: ' + this.info.channelFeePrecision }}</ng-container>
          </ng-template>
          <ng-template #eyes>
            <button nz-button class="border-0"></button>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <div class="text-red-700">
        <p>
          Note: UDPN sandbox connects to public chain test network only, hence
          please use private key of TEST account to sign the transaction and DO
          NOT use real private key here.
        </p>
      </div>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-space>
          <!-- <button nz-button nzType="primary" *nzSpaceItem [disabled]="!validateForm.valid">Sign public-chain message
            with end-user private key</button>
          <button nz-button nzType="primary" *nzSpaceItem [disabled]="tnSecuryMsg ==''" type="button"
            (click)="onSinge()">Sign public-chain message</button>
          <button nz-button nzType="primary" type="button" *nzSpaceItem (click)="onSubmit()" [nzLoading]="isLoadingOne"
            [disabled]="!subButtonStatus ">Submit</button> -->
            <button nz-button nzType="primary" type="button" *nzSpaceItem (click)="onSubmit()" [nzLoading]="isLoadingOne"
            [disabled]="!validateForm.valid || singStatus === true">Sign and Submit</button>
          <button nz-button nzType="default" type="button" *nzSpaceItem (click)="destroyModal()">Cancel</button>
        </nz-space>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
