<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #headerExtra>
  <div>
    <nz-space class="action" nzSize="large">
      <div *nzSpaceItem>
        <nz-space class="action-btn">
          <ng-container *ngIf="!(isOverMode$ | async)">
            <button
              *nzSpaceItem
              nz-button
              nzType="primary"
              [style]="{ width: (isOverMode$ | async) ? '' : '280px' }"
              [nzSize]="!(isOverMode$ | async) ? 'large' : 'small'"
            >
              <a
                download="userManual"
                href="../../../../assets/userManual/user-manual.pdf"
                >Download Operation Manual</a
              >
            </button>
            <button
              *nzSpaceItem
              nz-button
              nzType="primary"
              [style]="{ width: (isOverMode$ | async) ? '' : '280px' }"
              [nzSize]="!(isOverMode$ | async) ? 'large' : 'small'"
            >
              <a
                download="whitePaper"
                href="../../../../assets/whitepaper/white-paper.pdf"
                >Download Whitepaper</a
              >
            </button>
          </ng-container>
        </nz-space>
      </div>
      <div *nzSpaceItem>
        <img src="../../../../assets/images/Demo only.png" alt="" />
      </div>
    </nz-space>
  </div>
</ng-template>
<ng-template #headerContent>
  <div *ngIf="isOverMode$ | async" class="action">
    <nz-space class="action-btn m-b-20">
      <button *nzSpaceItem nz-button nzType="primary" [nzSize]="'small'">
        Download Operation Manual
      </button>
      <button *nzSpaceItem nz-button nzType="primary" [nzSize]="'small'">
        Download Whitepaper
      </button>
    </nz-space>
  </div>
  <span class="ctx-desc">
    The objective of the UDPN sandbox is to demonstrate digital currency
    transfers and swaps through a single gateway, in a controlled environment.
    For further questions, please see our operation manual or white paper.
  </span>
</ng-template>

<div class="normal-table-wrap">
  <nz-card>
    <p class="m-b-30">
      UDPN is a network comprised of 4 types of nodes. The UDPN does not
      interface with end users directly, but rather through IT systems connected
      to Business Nodes.
    </p>
    <nz-list [nzSplit]="false">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-avatar
            [nzSrc]="'../../../../assets/images/home/1.png'"
          ></nz-list-item-meta-avatar>
          <nz-list-item-meta-title>
            <p class="">Business Nodes are the gateway to the UDPN.</p>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-avatar
            [nzSrc]="'../../../../assets/images/home/2.png'"
          ></nz-list-item-meta-avatar>
          <nz-list-item-meta-title>
            <p class="">
              Validator Nodes validate incoming message format and specific
              content.
            </p>
          </nz-list-item-meta-title>
        </nz-list-item-meta> </nz-list-item
      ><nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-avatar
            [nzSrc]="'../../../../assets/images/home/3.png'"
          ></nz-list-item-meta-avatar>
          <nz-list-item-meta-title>
            <p class="">
              Transaction Nodes connect to and executes transactions on digital
              currency systems.
            </p>
          </nz-list-item-meta-title>
        </nz-list-item-meta> </nz-list-item
      ><nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-avatar
            [nzSrc]="'../../../../assets/images/home/4.png'"
          ></nz-list-item-meta-avatar>
          <nz-list-item-meta-title>
            <p class="">
              In the future, an on-chain Transaction Audit & Reporting (TAR)
              Node will provide read-only access for auditors & regulators.
            </p>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
    <!-- <article nz-typography>
      <p nz-typography>
        UDPN is a network comprised of 4 types of nodes. The UDPN does not
        interface with end users directly, but rather through IT systems
        connected to Business Nodes.
      </p>
      <div nz-typography>
        <nz-space nzDirection="vertical">
          <div *nzSpaceItem class="home-list">
            <nz-space nzSize="middle">
              <img
                *nzSpaceItem
                src="../../../../assets/images/home/1.png"
                alt=""
              />
              <div *nzSpaceItem>
                Business Nodes are the gateway to the UDPN.
              </div>
            </nz-space>
          </div>
          <div *nzSpaceItem class="home-list">
            <nz-space nzSize="middle">
              <img
                *nzSpaceItem
                src="../../../../assets/images/home/2.png"
                alt=""
              />
              <div *nzSpaceItem>
                Validator Nodes validate incoming message format and specific
                content.
              </div>
            </nz-space>
          </div>
          <div *nzSpaceItem class="home-list">
            <nz-space nzSize="middle">
              <img
                *nzSpaceItem
                src="../../../../assets/images/home/3.png"
                alt=""
              />
              <div *nzSpaceItem>
                Transaction Nodes connect to and executes transactions on
                digital currency systems.
              </div>
            </nz-space>
          </div>
          <div *nzSpaceItem class="home-list">
            <nz-space nzSize="middle">
              <img
                *nzSpaceItem
                src="../../../../assets/images/home/4.png"
                alt=""
              />
              <div *nzSpaceItem>
                In the future, an on-chain Transaction Audit & Reporting (TAR)
                Node will provide read-only access for auditors & regulators.
              </div>
            </nz-space>
          </div>
        </nz-space>
      </div>
    </article> -->
    <div class="home-img">
      <img nzSrc=" ../../../../assets/images/home/tu.png" nz-image alt="" />
    </div>
  </nz-card>
</div>
