<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #headerExtra>
  <div>
    <div><img src="../../../../assets/images/Demo only.png" alt="" /></div>
  </div>
</ng-template>
<ng-template #headerContent>
  <span class="ctx-desc">
    You can download and deploy the contracts here. Please be aware that this
    function will not be implemented in early stage of UDPN and we'd like to
    demostrate the capability of UDPN in the future.
  </span>
</ng-template>
<div class="normal-table-wrap">
  <app-card-table-wrap [tableTitle]="'Contract List'" [isNormalTable]="true">
    <app-ant-table
      (selectedChange)="selectedChecked($event)"
      [tableConfig]="tableConfig"
      [tableData]="dataList"
    ></app-ant-table>
    <ng-template
      #operationTpl
      let-status="status"
      let-key="key"
      let-contractName="contractName"
      let-description="description"
      let-deploymentTime="deploymentTime"
      let-number="number"
    >
      <span class="operate-text" (click)="download(key)">Download</span>
      <nz-divider
        nzType="vertical"
        *ngIf="status === 'Not deployed'"
      ></nz-divider>
      <span
        class="operate-text"
        *ngIf="status === 'Not deployed'"
        (click)="deploy()"
        >Deploy</span
      >
      <nz-divider nzType="vertical"></nz-divider>
      <span
        class="operate-text"
        routerLink="/sand-box/sand-contract/contract/info"
        [queryParams]="{status, number, contractName, description, deploymentTime}"
        >Detail</span
      >
      <nz-divider
        nzType="vertical"
        *ngIf="status === 'Deployment successful'"
      ></nz-divider>
      <span
        class="operate-text"
        *ngIf="status === 'Deployment successful'"
        (click)="manage()"
        >Manage</span
      >
    </ng-template>
  </app-card-table-wrap>
</div>
<ng-container>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Deploy"
    [nzOkLoading]="isOkLoading"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzWidth]="700"
    nzCentered="true"
  >
    <div *nzModalContent>
      <p class="operate-text text-center m-b-30">
        Please enter an user name and password to access the BN private key.
      </p>
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSm]="5" [nzNoColon]="true"></nz-form-label>
          <nz-form-control [nzErrorTip]="userName">
            <nz-input-group
              [nzPrefix]="prefixTemplateUser"
              class="content-flex"
              style="width: 75%"
            >
              <input
                type="text"
                nz-input
                placeholder="User name"
                formControlName="userName"
              />
              <ng-template #userName let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >The User name is required</ng-container
                >
              </ng-template>
            </nz-input-group>
            <ng-template #prefixTemplateUser
              ><i nz-icon nzType="user"></i
            ></ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="5" [nzNoColon]="true"></nz-form-label>
          <nz-form-control [nzErrorTip]="password">
            <nz-input-group
              [nzPrefix]="prefixTemplateUsers"
              class="content-flex"
              style="width: 75%"
            >
              <input
                type="text"
                nz-input
                placeholder="Password"
                formControlName="password"
              />
              <ng-template #password let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >The Password is required</ng-container
                >
              </ng-template>
            </nz-input-group>
            <ng-template #prefixTemplateUsers
              ><i
                nz-icon
                [nzType]="
                  !this.validateForm.get('password')?.value ? 'lock' : 'unlock'
                "
              ></i
            ></ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">
        Cancel
      </button>
      <button
        nz-button
        nzType="primary"
        [disabled]="!validateForm.valid"
        (click)="handleOk()"
      >
        Confirm
      </button>
    </div>
  </nz-modal>
</ng-container>
