<div class="left-nav-wrap" [class.dark-scrollbar]="(themesOptions$ | async)!.theme === 'dark'">
  <div class="sidebar-logo" *ngIf="(themesOptions$ | async)!.hasNavHeadArea" [class.p-l-8]="isCollapsed$ | async">
    <a href="#" target="_blank">
      <!-- <img src="assets/images/home/logo.png" alt="logo" /> -->
      <span class="logo"> u<i>dp</i>n-san<i>db</i>ox </span>
      <!-- <h1 class="animate-02" [class.light]="(themesOptions$ | async)!.theme === 'light' && (isNightTheme$ | async) === false">Ant Design Pro</h1> -->
    </a>
  </div>
  <div class="nav-ul-wrap">
    <app-nav-bar></app-nav-bar>
  </div>
</div>
