<div class="container">
  <!-- <div class="lang">
    <i nz-icon nzType="font-size" nzTheme="outline"></i>
  </div> -->
  <!-- <div class="content-layout">
    <div class="head"> -->
      <!-- <img class="logo" src="./assets/imgs/logo-color.svg" alt="" /> -->
      <!-- <span class="title">UNIVERSAL DIGITAL PAYMENT NETWORK</span>
    </div> -->
    <!-- <div class="desc">u<i>dp</i>n-san<i>db</i>ox</div> -->
    <!-- <div class="desc">udpn-sandbox</div>

  </div> -->
  <router-outlet></router-outlet>
</div>
