<app-page-header
  [backTpl]="backTpl"
  [backUrl]="'/sand-box/sand-account/digital'"
  [pageHeaderInfo]="pageHeaderInfo"
></app-page-header>
<ng-template #backTpl>
  <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<ng-template #headerExtra>
  <div>
    <div>
      <img src="../../../../assets/images/WEB.png" alt="" />
      <img class="m-l-5" src="../../../../assets/images/API (1).png" alt="" />
    </div>
  </div>
</ng-template>
<ng-template #headerContent>
  <span class="ctx-desc">
    Here, you can create a new binding between a DID and a digital currency
    account.
  </span>
</ng-template>
<div class="normal-table-wrap">
  <nz-card>
    <form class="form-wrap" nz-form [formGroup]="validateForm" class="m-y-60">
      <nz-form-item>
        <nz-form-label
          [nzMd]="8"
          [nzSm]="24"
          [nzXs]="24"
          [nzNoColon]="true"
          nzRequired
          >DID</nz-form-label
        >
        <nz-form-control
          [nzMd]="10"
          [nzSm]="24"
          [nzXs]="24"
          nzHasFeedback
          nzValidatingTip="Validating..."
          [nzErrorTip]="did"
        >
          <input
            nz-input
            formControlName="did"
            maxlength="255"
            placeholder=""
          />
          <ng-template #did let-control>
            <ng-container *ngIf="control.hasError('required')"
              >The DID is required</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzMd]="8"
          [nzSm]="24"
          [nzXs]="24"
          [nzNoColon]="true"
          nzRequired
          >Currency Type</nz-form-label
        >
        <nz-form-control [nzMd]="10" [nzSm]="24" [nzXs]="24">
          <nz-select
            formControlName="currencyType"
            [(ngModel)]="currencyType"
            (ngModelChange)="onFiledChange($event)"
          >
            <nz-option
              [nzValue]="items.currencyName"
              [nzLabel]="items.currencyName"
              *ngFor="let items of currencyApiArr"
              >{{ items.currencyName }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzMd]="8"
          [nzSm]="24"
          [nzXs]="24"
          [nzNoColon]="true"
          nzRequired
          >Platform</nz-form-label
        >
        <nz-form-control [nzMd]="10" [nzSm]="24" [nzXs]="24">
          <nz-select [(ngModel)]="platformType" formControlName="platformType">
            <nz-option
              *ngFor="let items of platformList"
              [nzLabel]="items.platformName"
              [nzValue]="items.platformName"
              >{{ items.platformName }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzMd]="8"
          [nzSm]="24"
          [nzXs]="24"
          [nzNoColon]="true"
          nzRequired
          >Currency Account Address</nz-form-label
        >
        <nz-form-control
          [nzMd]="10"
          [nzSm]="24"
          [nzXs]="24"
          nzHasFeedback
          nzValidatingTip="Validating..."
          [nzErrorTip]="currencyAccount"
        >
          <input
            nz-input
            formControlName="currencyAccount"
            maxlength="255"
            placeholder=""
          />
          <ng-template #currencyAccount let-control>
            <ng-container *ngIf="control.hasError('required')"
              >The Currency Account Address is required</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzMd]="8"
          [nzSm]="24"
          [nzXs]="24"
          [nzNoColon]="true"
          nzRequired
          >Description</nz-form-label
        >
        <nz-form-control
          [nzMd]="10"
          [nzSm]="24"
          [nzXs]="24"
          nzHasFeedback
          nzValidatingTip="Validating..."
          [nzErrorTip]="briefIntroduction"
        >
          <textarea
            nz-input
            [nzAutosize]="{ minRows: 3, maxRows: 25 }"
            formControlName="briefIntroduction"
          ></textarea>
          <ng-template #briefIntroduction let-control>
            <ng-container *ngIf="control.hasError('required')"
              >The Description is required</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="24" [nzNoColon]="true"
          >Set as Default Account</nz-form-label
        >
        <nz-form-control
          [nzMd]="10"
          [nzSm]="24"
          [nzXs]="24"
          nzErrorTip="The Set as Default Account is required"
        >
          <nz-radio-group [ngModel]="radioValue" formControlName="isDefault">
            <label nz-radio nzValue="1">Yes</label>
            <label nz-radio nzValue="0">No</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="text-right m-t-60">
        <nz-form-label
          [nzMd]="8"
          [nzSm]="24"
          [nzXs]="24"
          [nzNoColon]="true"
        ></nz-form-label>
        <nz-form-control [nzMd]="10" [nzSm]="24" [nzXs]="24">
          <button nz-button routerLink="../">Cancel</button>
          <button
            nz-button
            class="m-l-15"
            [nzType]="'primary'"
            [nzLoading]="isOkLoading"
            [disabled]="!validateForm.valid"
            (click)="onBind()"
          >
            Bind
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
