<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #headerExtra>
  <div>
    <div>
      <img src="../../../../assets/images/Demo only.png" alt="" />
      <img class="m-x-5" src="../../../../assets/images/WEB.png" alt="" />
      <img src="../../../../assets/images/API (1).png" alt="" />
    </div>
  </div>
</ng-template>
<ng-template #headerContent>
  <span class="ctx-desc">
    To onboard a Business Node, input the following information. This process
    can also be completed via API (link).
  </span>
</ng-template>
<div class="normal-table-wrap">
  <nz-card
    [nzBodyStyle]="{ 'padding-bottom': 0 }"
    [nzTitle]="''"
    class="m-b-10"
  >
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Enterprise Name</nz-form-label>
            <nz-form-control nzErrorTip="The Enterprise Name is required">
              <input nz-input placeholder="" formControlName="enterpriseName" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Country</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="country"
                nzPlaceHolder="please select"
              >
                <nz-option
                  *ngFor="let items of countryOptions"
                  [nzValue]="items.value"
                  [nzLabel]="items.value"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="16"
          [nzXl]="16"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Node Name</nz-form-label>
            <nz-form-control nzErrorTip="The Node Name is required">
              <input
                nz-input
                placeholder="Enter a name for this node"
                formControlName="nodeName"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="16"
          [nzXl]="16"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Select Validator Node </nz-form-label>
            <nz-form-control
              nzErrorTip="The Select the Validator Node for connection is required"
            >
              <div class="onboard-container">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                  <input
                    nz-input
                    placeholder=""
                    readonly
                    formControlName="connection"
                  />
                </nz-input-group>
                <ng-template #suffixButton>
                  <button
                    nz-button
                    nzSearch
                    [nzType]="'primary'"
                    (click)="showModal()"
                  >
                    Select
                  </button>
                </ng-template>
                <nz-modal
                  [(nzVisible)]="isVisible"
                  nzTitle="Select the connected VN node"
                  (nzOnCancel)="handleCancel()"
                  (nzOnOk)="handleOk()"
                  [nzWidth]="800"
                  [nzOkLoading]="isOkLoading"
                  nzCentered="true"
                >
                  <div *nzModalContent>
                    <p class="onboard-selectTitle">VN node information</p>
                    <div>
                      <nz-table
                        #selectionTable
                        [nzFrontPagination]="false"
                        [nzData]="listOfData"
                      >
                        <thead>
                          <tr>
                            <th>Please select</th>
                            <th>Node name</th>
                            <th>Access address</th>
                            <th>Brief introduction</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let data of selectionTable.data; index as i"
                          >
                            <td [nzAlign]="'center'">
                              <nz-radio-group
                                [ngModel]="radioValue"
                                (ngModelChange)="change(data.key)"
                                [ngModelOptions]="{ standalone: true }"
                              >
                                <label nz-radio [nzValue]="data.key"></label>
                              </nz-radio-group>
                            </td>
                            <td>{{ data.nodeName }}</td>
                            <td>{{ data.address }}</td>
                            <td>{{ data.introduction }}</td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </div>
                  </div>
                </nz-modal>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="16"
          [nzXl]="16"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Brief Introduction</nz-form-label>
            <nz-form-control nzErrorTip="The Brief Introduction is required">
              <input
                nz-input
                placeholder="Enter a description for this node"
                formControlName="introduction"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="16"
          [nzXl]="16"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Description (Optional) </nz-form-label>
            <nz-form-control nzErrorTip="The Description(Optional) is required">
              <input
                nz-input
                placeholder="Enter a description for this node"
                formControlName="description"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="16"
          [nzXl]="16"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired
              >Upload the Node's DID document<i
                class="m-l-5"
                nz-icon
                nzType="question-circle"
                nzTooltipPlacement="right"
                nzTheme="outline"
                nz-tooltip
                [nzTooltipTitle]="titleTemplate"
                nzTooltipColor="#F5F5F5"
                nzTooltipTrigger="click"
                nzTooltipOverlayClassName="buils"
              ></i>
            </nz-form-label>
            <ng-template #titleTemplate let-thing>
              <div>
                <div style="color: black">
                  Since this utility will generate a private key, it is safer to
                  do it locally. Please refer to below instruction:
                </div>
                <!-- <div class="mt-1 font-serif">
                Option 1: bulid from source code please refer to <a target="_blank"
                  href="https://github.com/UDPN/UDPN-utility">https://github.com/UDPN/UDPN-utility</a> to build from
                source code.
              </div> -->
                <div class="mt-1 font-serif" style="color: #3c5686">
                  Step 1: Download jar file and use as below
                  <button
                    (click)="onDownload()"
                    nz-button
                    nzType="primary"
                    [nzShape]="'circle'"
                  >
                    <i nz-icon nzType="download" nzTheme="outline"></i></button
                  ><button
                    nz-button
                    routerLink="/sandBox/account/generation/list"
                    nzType="primary"
                    [nzShape]="'circle'"
                  >
                    <i nz-icon nzType="link" nzTheme="outline"></i>
                  </button>
                  <p>(jar file MD5: 2b5ff9b20cbd9d9730f9ff78f9c0cc91)</p>
                </div>
                <div class="mt-1 font-serif" style="color: #3c5686">
                  Step 2: Use JDK 8+ to run below command so as to generate DID
                  document offline (you need to input location and dest file
                  name during generation):
                  <p class="mt-4">
                    On linux/macOS: java -jar "path-to-downloaded-jar-file"
                  </p>
                  <p>On Windows: java -jar path-to-downloaded-jar-file</p>
                </div>
              </div>
            </ng-template>
            <nz-form-control nzErrorTip="">
              <div class="m-b-20">
                <nz-upload
                  [nzBeforeUpload]="beforeUpload"
                  [nzRemove]="handleRemove"
                >
                  <button nz-button [nzType]="'primary'" nzGhost>Browse</button>
                </nz-upload>
              </div>
              <textarea
                nz-input
                [disabled]="true"
                readonly
                [nzAutosize]="{ minRows: 6, maxRows: 24 }"
                formControlName="didDocument"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Contact Email Address</nz-form-label>
            <nz-form-control nzErrorTip="The Contact Email Address is required">
              <input nz-input placeholder="" formControlName="email" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Verification Code</nz-form-label>
            <nz-form-control nzErrorTip="The Verification Code is required">
              <div class="onboard-container">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixButtons">
                  <input
                    nz-input
                    placeholder=""
                    formControlName="verificationCode"
                  />
                </nz-input-group>
                <ng-template #suffixButtons>
                  <button
                    nz-button
                    nzSearch
                    [nzType]="'primary'"
                    (click)="send()"
                  >
                    {{
                      this.status === 1
                        ? 'Send Verification Code'
                        : 'Retrieve verification code ' + this.counter + ' s'
                    }}
                  </button>
                </ng-template>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="16"
          [nzXl]="16"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label nzRequired>Business License </nz-form-label>
            <nz-form-control nzErrorTip="The Enterprise Name is required">
              <div class="onboard-license">
                <div>
                  <nz-upload
                    nzListType="picture-card"
                    [nzBeforeUpload]="beforeUploads"
                    [nzCustomRequest]="firmwareFileCustomRequest"
                    [(nzFileList)]="fileLists"
                    [nzShowButton]="fileLists.length < 1"
                    [nzPreview]="handlePreview"
                    [nzShowUploadList]="showUploadList"
                    (nzChange)="changed()"
                  >
                    <div>
                      <i nz-icon nzType="plus"></i>
                      <div style="margin-top: 8px">Upload</div>
                    </div>
                  </nz-upload>
                  <nz-modal
                    [nzVisible]="previewVisible"
                    [nzContent]="modalContent"
                    [nzFooter]="null"
                    (nzOnCancel)="previewVisible = false"
                  >
                    <ng-template #modalContent>
                      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                    </ng-template>
                  </nz-modal>
                </div>
                <div class="license-tips">
                  "It is recommended to provide 160*160
                  <span>(png/jpg/gif/bmp/jpeg)</span>
                  pictures, which must be the company or product logo and not
                  deformed"
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="16"
          [nzXl]="16"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item class="text-right">
            <nz-form-label></nz-form-label>
            <nz-form-control>
              <button
                nz-button
                [nzType]="'primary'"
                [disabled]="
                  !validateForm.valid || !this.fileLists[0] || this.saveState
                "
                nzGhost
                (click)="save()"
              >
                Save
              </button>
              <button
                class="m-l-15"
                nz-button
                [nzType]="'primary'"
                [disabled]="!validateForm.valid || !this.fileLists[0]"
                (click)="submit(this.validateForm.value)"
              >
                Submit
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
</div>
