<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #headerExtra>
  <div>
    <div>
      <img class="m-l-5" src="../../../../assets/images/API (1).png" alt="" />
    </div>
  </div>
</ng-template>
<ng-template #headerContent>
  <span class="ctx-desc">
    Use this screen to transfer a digital currency either internal to your
    Business Node or externally. Prior to transacting on UDPN, users must have
    bound their DID to an applicable digital currency wallet.
  </span>
</ng-template>
<div class="normal-table-wrap">
  <div>
    <!-- <div class="ctx-titles">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Transaction Management</nz-breadcrumb-item>
        <nz-breadcrumb-item class="font-semibold">Transfer</nz-breadcrumb-item>
      </nz-breadcrumb>
    </div> -->
    <div nz-row class="inner-content">
      <div nz-col nzSpan="24" nzOffset="">
        <ng-container *ngIf="!datailStatus">
          <!-- <div class="flex items-center justify-between mb-2">
            <h3 class="ml-6 dc-tool md:text-sm xl:text-sm nzXXl:text-base">
              Use this screen to transfer a digital currency either internal to
              your Business Node or externally. Prior to transacting on UDPN,
              users must have bound their DID to an applicable digital currency
              wallet.
            </h3>
            <div class="mr-3">
              <img
                src="../../../../assets/images/API (1).png"
                alt=""
                class="w-14"
              />
            </div>
          </div> -->
          <nz-card [nzTitle]="" [nzBordered]="false" [nzExtra]="">
            <form
              nz-form
              [formGroup]="validateForm"
              nzLayout="horizontal"
              class="ant-advanced-search-form"
            >
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <div class="swap-title operate-text">Sender Details</div>
                  <nz-form-item>
                    <nz-form-label
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Business Account</nz-form-label
                    >
                    <nz-form-control>
                      <input
                        nz-input
                        id="assoc1"
                        placeholder="Business Account"
                        formControlName="senderBank"
                      />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      nzRequired
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Sender DID</nz-form-label
                    >
                    <nz-form-control
                      nzValidateStatus="senderDidStatus"
                      nzHasFeedback
                    >
                      <ng-container *ngIf="!senderStatus">
                        <input
                          nz-input
                          placeholder="Sender DID"
                          formControlName="senderDid"
                      /></ng-container>
                      <ng-container *ngIf="senderStatus">
                        <nz-select formControlName="senderDid" nzAllowClear>
                          <nz-option
                            *ngFor="let item of senderDiArr"
                            [nzValue]="item.did"
                            [nzLabel]="item.did"
                          >
                          </nz-option>
                        </nz-select>
                      </ng-container>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      nzRequired
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Source Currency Type
                    </nz-form-label>
                    <nz-form-control>
                      <nz-cascader
                        [nzOptions]="nzOptions"
                        formControlName="blockChain"
                        nzPlaceHolder="Source Currency Type"
                      ></nz-cascader>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      nzRequired
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Send Account
                    </nz-form-label>
                    <nz-form-control>
                      <!-- <input nz-input placeholder="Send Account" formControlName="senderAccount" /> -->
                      <nz-select
                        formControlName="senderAccount"
                        nzPlaceHolder="Send Account"
                        [(ngModel)]="sendAccountSelect"
                      >
                        <ng-container *ngFor="let item of sendAccountArr">
                          <nz-option
                            *ngIf="item.isDefault !== 1"
                            [nzValue]="item.currencyAccount"
                            [nzLabel]="item.currencyAccount"
                          >
                          </nz-option>
                          <nz-option
                            *ngIf="item.isDefault === 1"
                            nzCustomContent
                            [nzValue]="item.currencyAccount"
                            [nzLabel]="item.currencyAccount"
                          >
                            <i
                              nz-icon
                              nzType="check"
                              nzTheme="outline"
                              class="text-blue-600"
                            ></i>
                            <span class="ml-2" class="text-blue-600">{{
                              item.currencyAccount
                            }}</span>
                          </nz-option>
                        </ng-container>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      nzRequired
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Send Amount
                    </nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input
                          nz-input
                          placeholder="Send Amount"
                          [(ngModel)]="values"
                          ngModelOptions="{ standalone: true }"
                          (keypress)="clearNoNum($event, undefined, 17)"
                          onkeyup="this.value= this.value.match(/\d+(\.\d{0,18})?/) ? this.value.match(/\d+(\.\d{0,18})?/)[0] : ''"
                          formControlName="senderAmount"
                        />
                      </nz-input-group>
                      <ng-template #suffixIconSearch>
                        {{ currency_change }}
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                  <div class="swap-title operate-text">Beneficiary Details</div>
                  <nz-form-item>
                    <nz-form-label
                      nzRequired
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Beneficiary Type
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select
                        formControlName="beneficiaryType"
                        (ngModelChange)="onChaneg($event)"
                      >
                        <nz-option
                          nzValue="1"
                          nzLabel="Internal Bank Beneficiary"
                        ></nz-option>
                        <nz-option
                          nzValue="2"
                          nzLabel="External Beneficiary"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Beneficiary Name
                    </nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        placeholder="Beneficiary Name"
                        formControlName="beneficiaryName"
                      />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item *ngIf="showStatus">
                    <nz-form-label
                      nzRequired
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Business Account
                    </nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        id="sender1"
                        placeholder="Business Account"
                        formControlName="beneficiaryBank"
                      />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label
                      nzRequired
                      nzSpan="8"
                      nzMd="10"
                      nzXl="12"
                      nzXXl="8"
                      class="form-label"
                      >Beneficiary Account
                    </nz-form-label>
                    <nz-form-control>
                      <ng-container *ngIf="!beneficiaryBankStatus">
                        <input
                          nz-input
                          placeholder="Beneficiary Account"
                          formControlName="beneficiaryAccount"
                      /></ng-container>
                      <ng-container *ngIf="beneficiaryBankStatus">
                        <nz-select
                          formControlName="beneficiaryAccount"
                          nzAllowClear
                        >
                          <nz-option
                            *ngFor="let item of beneficiaryBankStatusArr"
                            [nzValue]="item.currencyAccount"
                            [nzLabel]="item.currencyAccount"
                          >
                          </nz-option>
                        </nz-select>
                      </ng-container>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSpan]="24" class="search-area">
                  <nz-space>
                    <button
                      nz-button
                      *nzSpaceItem
                      [nzType]="'primary'"
                      [nzLoading]="isLoading"
                      (click)="onSubmitForm()"
                      [disabled]="!validateForm.valid"
                    >
                      Next
                    </button>
                    <a
                      nz-button
                      *nzSpaceItem
                      nzType="link"
                      (click)="resetForm()"
                      >Reset</a
                    >
                  </nz-space>
                </div>
              </div>
            </form>
          </nz-card>
        </ng-container>
        <ng-container *ngIf="datailStatus">
          <nz-card [nzTitle]="" [nzBordered]="false" [nzExtra]="">
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-descriptions
                  nzTitle="Sender Details"
                  class="descriptions-info"
                >
                  <nz-descriptions-item nzTitle="Business Account" [nzSpan]="3"
                    >{{ infoData.fromBankAccount }}
                  </nz-descriptions-item>
                  <nz-descriptions-item nzTitle="DID" [nzSpan]="3">{{
                    infoData.did
                  }}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Currency type" [nzSpan]="3"
                    >{{ infoData.spliceCurrencyType }}
                  </nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Sender Account" [nzSpan]="3"
                    >{{ infoData.fromAcc }}
                  </nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Amount" [nzSpan]="3">{{
                    infoData.totalAmount
                  }}</nz-descriptions-item>
                </nz-descriptions>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-descriptions
                  nzTitle="Beneficiary Details"
                  class="descriptions-info"
                >
                  <nz-descriptions-item nzTitle="Beneficiary Type" [nzSpan]="3"
                    >{{
                      infoData.beneficiaryType === 1
                        ? 'Internal Bank Beneficiary'
                        : 'External Beneficiary'
                    }}
                  </nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Beneficiary Name" [nzSpan]="3"
                    >{{ infoData.beneficiaryName }}
                  </nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Business Account" [nzSpan]="3"
                    >{{ infoData.toBankAccount }}
                  </nz-descriptions-item>
                  <nz-descriptions-item
                    nzTitle="Beneficiary Account"
                    [nzSpan]="3"
                    >{{ infoData.toAcc }}
                  </nz-descriptions-item>
                  <nz-descriptions-item
                    nzTitle="Amount received"
                    [nzSpan]="3"
                    >{{ infoData.toAmount }}</nz-descriptions-item
                  >
                </nz-descriptions>
              </div>
            </div>
            <nz-descriptions
              [nzColumn]="2"
              nzTitle="Other information"
              class="descriptions-info"
            >
              <nz-descriptions-item nzTitle="TN Name">{{
                infoData.nodeName
              }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="TN Code">{{
                infoData.nodeNumber
              }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Gas">0 </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Service fee"
                >{{ infoData.serviceFee }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="IsKYC"
                >{{ infoData.isKycRequest === 1 ? 'Yes' : 'No' }}
              </nz-descriptions-item>
            </nz-descriptions>
            <div class="back">
              <button nz-button nzType="primary" (click)="onBack()">
                back
              </button>
            </div>
          </nz-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
