<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #headerExtra>
  <div>
    <div> <img src="../../../../assets/images/API (1).png" alt=""></div>
  </div>
</ng-template>
<div class="normal-table-wrap">
  <nz-card>
    <div>
      <nz-page-header class="" [nzTitle]="title">
        <nz-page-header-extra>
          <nz-upload
            [(nzFileList)]="fileList"
            [nzBeforeUpload]="beforeUpload"
            [nzRemove]="handleRemove"
          >
            <button nz-button nzType="primary" [disabled]="upstatus">
              <i nz-icon nzType="upload"></i>
              Choose your DID document
            </button>
          </nz-upload>
        </nz-page-header-extra>
      </nz-page-header>
      <ng-template #title>
        <div>Create DID</div>
      </ng-template>
      <div *ngIf="!isSuccess">
        <nz-divider nzText="Content"></nz-divider>
        <div>
          <div *ngIf="!upstatus">
            <nz-empty></nz-empty>
          </div>
          <div *ngIf="upstatus">
            <textarea
              nz-input
              [disabled]="true"
              [nzAutosize]="{ minRows: 3, maxRows: 25 }"
              [(ngModel)]="inputValue"
            ></textarea>
            <button
              nz-button
              [nzType]="'primary'"
              [nzLoading]="uploading"
              (click)="handleUpload()"
              [disabled]="fileList.length === 0"
              class="m-t-20"
            >
              {{ uploading ? 'Loading' : 'Create' }}
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="isSuccess">
        <nz-result
          nzStatus="success"
          [nzTitle]="this.didName + ' has been uploaded successfully.'"
        >
        </nz-result>
      </div>
    </div>
  </nz-card>
</div>
